<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="QLSINHVIENEntities" connectionString="metadata=res://*/Model.QLSINHVIEN.csdl|res://*/Model.QLSINHVIEN.ssdl|res://*/Model.QLSINHVIEN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=A108PC16\CSSQL08;initial catalog=QLSINHVIEN;user id=sa;password=123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>